# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SpotifyAuth.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\ICT\S3-DB01\MusicBlend\SpotifyAuth\.idea\.idea.SpotifyAuth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
